
.bar {
    background-color: $base;
    padding: 5px;
}

.icon {
    font-size: 20px;
    margin: 2px 0px;
}

.revealtouch {
    font-size: 20px;
    margin: 5px 0px;
    color: $surface2;
}

.workspaces {
    padding: 5px;
}

.workspaces label {
    font-size: 18;
    padding-right: 5px;
    padding: 2px 5px 2px 0px;
}

.widget {
    padding: 5px 5px;
    border-radius: 5px;
    background-color: $surface0;
    margin: 5px 2px;
    color: $white0;
    // border-style: solid;
    // border-color: $white0;
    // border-width: 2px;
}

.clock label {
    font-size: 20px;
}

.bat_scale trough{
    min-height: 50px; 
    min-width: 18px; 
    border-radius: 5px;
}

.bat_scale trough highlight{
    border-radius: 5px;
    background-color: $red;
}

.charging trough highlight {
    background-color: $green;
}

.dying trough highlight {
   background-color: $maroon;
}

// .mpd label {
//     color: $sky;
// }
//
// .playerctl label {
//     color: $sapphire;
// }

.mpd_controls label {
    font-size: 30px;
    padding: 10px;
}

.seektime slider {
    background-color: $white0;
    border-radius: 25px;
    min-height: 15px;
    min-width: 15px;
}

.seektime trough {
    min-height: 15px; 
    min-width: 180px;
    margin-left: 15px;
}

.seektime trough highlight {
    background-color: $teal;
}

.popup {
    background-color: $base;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: $surface2;
    border-width: 2px;
}

.touch label {
    font-size: 20px;
}

// just color stuff probably 
// .clock label {
//     color: $light_blue;
// }
//
// .closex label, .wofi label, .touchkeyboard label, .themetoggle label {
//     color: $teal;
// }
//
// .wifi label {
//     color: $teal;
// }
//
// .sound label {
//     color: $maroon;
// }
// .volslide trough highlight {
//     background-color: $maroon;
// }
//
// .bright label {
//     color: $green;
// }
// .brislide trough highlight {
//     background-color: $green;
// }
//
.launchicon {
    color: $red;
}

.lightning {
    color: $surface0
}

.workspacething, .workspacethingactive {
    transition: 500ms;
    border-radius: 5;
    margin: 6px;
}

.workspacething {
    background-color: $surface2;
}

.workspacethingactive {
    background-color: $red;
}
