
.bar {
    background-color: $base;
    padding: 5px;
}

.icon {
    font-size: 20px;
    min-width: 1em;
    min-height: 1em;
    font-family: "Symbols Nerd Font";
    padding: 2px 0px;
}

.revealtouch {
    font-size: 20px;
    margin: 5px 0px;
    color: $surface2;
}

.workspaces {
    padding: 5px;
}

.workspaces label {
    font-size: 18;
    padding-right: 5px;
    padding: 2px 5px 2px 0px;
}

.widget {
    padding: 5px 5px;
    border-radius: 5px;
    background-color: $surface0;
    margin: 5px 2px;
    color: $white0;
    // border-style: solid;
    // border-color: $white0;
    // border-width: 2px;
}

.clock label {
    font-size: 20px;
}

.bat_scale trough{
    min-height: 50px; 
    min-width: 18px; 
    border-radius: 5px;
    slider {
        all: unset;
    }
}

.bat_scale trough highlight{
    border-radius: 5px;
    background-color: $red;
}

.charging trough highlight {
    background-color: $green;
}

.dying trough highlight {
   background-color: $maroon;
}

// .mpd label {
//     color: $sky;
// }
//
// .playerctl label {
//     color: $sapphire;
// }

.mpd_controls label {
    font-size: 30px;
    padding: 10px;
}

.seektime {
    trough {
        min-height: 10px; 
        min-width: 180px;

        slider {
            background-color: $white2;
            border-radius: 25px;
            min-height: 20px;
            min-width: 20px;
            margin: -10px;
        }

        highlight {
            background-color: $red;
        }
    }
}

.sidempdctl {
    margin: 5px; 
    label {
        font-size: 30px;
        padding-right: 5px;
        min-height: 1em;
        min-width: 1em;
    }
}

.mpdvolumeseek {
    @extend .seektime;
    trough {
        min-height: 100px; 
        min-width: 10px;
        highlight {
            background-color: $white0;
        }
    }
}

.touch label {
    font-size: 20px;
}

.mtitle {
    color: $white0;
    font-size: 20px; 
    margin-top: 30px;
}

.launchicon {
    @extend .icon;
    color: $red;
}

.picon {
    @extend .icon;
    font-size: 18px;
}

.lightning {
    color: $surface0
}

.workspacething, .workspacethingactive {
    transition: 500ms;
    border-radius: 5;
    margin: 6px;
}

.workspacething {
    background-color: $surface2;
}

.workspacethingactive {
    background-color: $red;
}
