
.heading {
    font-size: 25px;
    color: $red;
    margin: 5px;
}

.dmpdcontrol {
    margin: 10px;
}

.dmpdcontrol label {
    font-size: 20px;
    margin: 0px 8px;
}

.dicons label {
    font-size: 25px;
    margin-right: 6px;
}
