$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

* {
    all: unset;
    font-family: Iosevka Nerd Font;
}

.window {
    background-color: $crust;
    border-radius: 5;
    padding: 10px;
}

scale trough {
	all: unset;
	background-color: $surface0;
	border-radius: 24px;
	min-height: 15px;
	min-width: 270px;
	margin : 5px;
}

scale trough highlight {
    background-color: $subtext0;
    border-radius: 24px;
}

.clock_widget, .cal_widget, .stats_widget, .media_widget, .user_widget, .temp_widget, .quote_widget, .launcher_widget, .notes_widget, .graph_widget, .timer_widget{
    background-color: $base;
    border-radius: 5;
    margin: 10px;
    padding: 5px;
}

.clock_widget {
    color: $mauve;
}

.time {
    font-size: 25;
}

.date {
    font-size: 14;
}

calendar {
    all: unset;
    background-color: $base;
    font-size: 17;
    margin: 10px;
    border-radius: 5;
}

calendar:selected {
    color: $red;
}

calendar.header {
    color: $red;
    font-weight: bold;
}

calendar:indeterminate {
    color: $subtext0;
}

.stat {
    font-size: 25px;
    margin: 5px;
}

.media_keys {
    font-size: 20px;
    color: $sky;
    padding: 3px;
    background-color: $base;
}

.media_simp {
    font-size: 20px;
    color: $sky;
    background-color: $base;
    padding: 6px 0px;
}

.media_widget {
    padding: 5px 10px;
}

.media_overlay {
    font-size: 20px;
    color: $sky;
    padding:6px 0px;
    background-color: $base;
}

.media_overlay scale trough highlight {
    background-color: $subtext0;
    border-radius: 24px;
}

.media_widget button {
    background-color: $base;
    color: $lavender;
    border-radius: 5;
    padding: 0 8px;
}

.user_widget {
    font-size: 20px;
    color: $text;
}

.temp_widget {
    font-size: 20px;
    color: $blue;
}

.launcher_widget {
    font-size:42px;
    color: $lavender;
}

.launchicon {
    margin: 5px;
    padding: 8px 33px 8px 18px;
    border-radius: 5px;
    color: $base;
    background-color: $lavender;
}

.launchicoff {
    margin: 5px;
    padding: 8px 33px 8px 18px;
    border-radius: 5px;
    color: $lavender;
    background-color: $base;
}
.quote_widget {
    font-size: 19px;
    color: $flamingo;
}

.notes_widget button, .graph_widget button, .timer_widget button {
    background-color: $lavender;
    margin: 10px;
    padding: 5px;
    border-radius: 5;
    color: $base;
}

.graph_widget graph {
    background-color: $surface1;
}

.graph_single {
    background-color: $surface0;
    margin: 0px 0px 15px 0px;
}

.timer_widget label {
    color: $teal;
    font-size: 40px;
    padding: 36px 10px
}

.timer_butt label {
    color: $base;
    font-size: 20px;
    padding: 5px;
}
