// by Tsukki

$base: #FFF7EB;
$surface0: #E0CFC6;
$surface1: #C1AEAE;
$surface2: #A38A8A;
$white0: #483939;
$white1: #2D2424;
$white2: #2D2424;

$red: #B54851;
$green: #938579; // green??? I think???

$base04: #9C8181;
$base08: #D0796D;
$base09: #C6846C;
$base0B: #878985;
$base0C: #877B85;
$base0D: #79657A;
$base0E: #794F65;
$base0F: #9F596C;

$accent: $base08;
