// By Vixima

$BG        : #17181C;
$MidBG    : #1E1F24;
$LightBG  : #26272B;
$DarkGrey : #333438;
$LightGrey: #8F9093;
$DarkFG   : #B0B1B4;
$MidFG    : #CBCCCE;
$FG       : #E4E5E7;
$Pink     : #FA3867;
$Orange   : #F57F3D;
$Gold     : #F5CA32;
$Lime     : #65DB3D;
$Turquoise: #53DFCA;
$Blue     : #4CB2E5;
$Violet   : #9A57F5;
$Red      : #FA4242;

$base: #17181C;
$surface0: #1E1F24;
$surface1: #26272B;
$surface2: #333438;
$white0: #E4E5E7;
$white1: $FG;
$white2: $FG;
$red: $Red;
$green: $Lime;
$accent: $Pink;
