// by masroof-maindak (Mujtaba)

// required
$base: #242015;
$surface0: #3A3124;
$surface1: #4d3f32;
$surface2: #5f4e41;
$white0: #D2C3A4;
$white1: #ebe0bb;
$white2: #F1E9D0;
$red: #a82d56;
$green: #61a0a8;

// other
$base04: #B8A58C;
$base09: #b06733;
$base0A: #db930d;
$base0B: #7a7653;
$base0D: #91506C;
$base0E: #b05d61;
$base0F: #ba6d36;

$accent: $base0A;
