
.popup {
  background-color: $base;
  border-radius: calc($round + $padding + $margin);
  padding: $padding;
  margin: $margin;
}

.basetitle {
  margin: $margin;
  padding: $padding;
  border-radius: calc($round - $margin - $padding);
  label {
    font-size: 15px;
  }
  .icon {
    font-size: 25px;
  }
}

.icontitle {
  @extend .basetitle;
  color: $white0;
  label {
    color: $white0;
  }
  background-color: $surface1;
}

.icontitleon {
  @extend .basetitle;
  color: $surface0;
  label {
    color: $surface0;
  }
  background-color: $accent;
}

.sliderctl {
  trough {
    min-height: 15px; 
    min-width: 320px;
    border-radius: $round;
    background-color: $surface1;

    slider {
      border-radius: $round;
      min-height: 15px;
      min-width: 15px;
      // margin: -10px;
    }

    highlight {
      background-color: $accent;
      border-radius: $round;
    }
  }
}

.bat_scale {
  trough {
    min-height: 20px;
    min-width: 50px;
    border-radius: $round;
    background-color: $surface1;
    slider {
      all: unset;
    }
    highlight {
      border-radius: $round; 
      background-color: $accent;
    }
  }
}

.lightning {
  color: $white0;
}

.togglebuttons {
  font-size: 10px;
}

.circsys {
  color: $accent;
  background-color: $surface1;
}

.circiconcontain {
    border-radius: 70px;
    background-color: $surface0;
}

.circiconcontain label {
    font-family: "Symbols Nerd Font";
    font-size: 30px;
    min-width: 1em;
    min-height: 1em;
    border-radius: 70px;
    color: $white0;
}

.wmctrlslide {
  trough {
    background-color: $surface1;
    border-radius: $round;
    min-width: 140px;
    min-height: 15px;
    slider {
      min-height: 15px;
      min-width: 15px;
      border-radius: $round;
    }
    highlight {
      border-radius: $round;
      background-color: $accent;
    }
  }
}

.bigslide trough {
  border-radius: $round; 
  margin: $margin;
  min-width: 60px;
  background-color: $surface1;
  slider {
    min-width: 20px;
    min-height: 20px;
  }
  highlight{
    background-color: $surface2;
    border-radius: $round;
  }
}

.slideicon {
  min-width: 1em;
  min-height: 1em;
  font-family: "Symbols Nerd Font";
  font-size: 30px;
  margin-bottom: 15px;
}

.timer {
  font-size: 40px;
}

.timer_butt button {
  background-color: $surface1; 
  margin: $margin;
  padding: calc($padding + 2px);
  border-radius: $round;
}

.timer_butt label {
  color: $white0;
  font-size: 24px;
}

.calwrap {
  margin: $margin;
  background-color: $surface1;
  border-radius: calc($round - $padding);
}

.calhead {
  padding: $padding;
  margin: $margin;
}

.calheadinfo {
  font-size: 20px;
  color: $accent;
}
