// by Tsukki

$base: #1A1515;
$surface0: #2d2424;
$surface1: #453636;
$surface2: #725a5a;
$white0: #DCC9BC;
$white1: #ffe9c7;
$white2: #ffe9c7;
$red: #CF223E;
$green: #959A6B;

$base08: #F07342;
$base0B: #768F80;
$base0C: #756D94;
$base0D: #614F76;
$base0E: #7B3D79;
$base0F: #AE3F82;

$accent: $base08;
