
$base: #000000; 
$surface0: #000000; 
$surface1: #10555D; 
$surface2: #10555D; 
$white0: #ffffff; 
$white1: #f2f4f8; 
$white2: #ffffff; 
$teal: #08bdba;
$sapphire: #3ddbd9; 
$sky: #78a9ff; 
$maroon: #ee5396; 
$blue: #33b1ff; 
$red: #00C5C3; 
$green: #42be65; 
$lavender: #be95ff; 
$light_blue: #82cfff;
