// by Gwynsav

$black   :#0c0c0c;
$gray100 :#161616;
$gray90  :#1f1f1f;
$gray80  :#262626;
$gray70  :#393939;
$gray60  :#525252;
$gray50  :#6f6f6f;
$gray40  :#8d8d8d;
$gray30  :#a8a8a8;
$gray20  :#c6c6c6;
$gray10  :#e0e0e0;
$white   :#f4f4f4;

$red          :#c1374b;
$red_dark     :#902c3b;
$green        :#32ae80;
$green_dark   :#2a8664;
$yellow       :#e1a36b;
$yellow_dark  :#d78438;
$blue         :#738be7;
$blue_dark    :#546ad8;
$magenta      :#9e7ad5;
$magenta_dark :#875fd4;
$cyan         :#2b9eb0;
$cyan_dark    :#1f7a89;

$base: $black;
$surface0: $gray80;
$surface1: $gray70;
$surface2: $gray60;
$white0: $gray10;
$white1: $white;
$white2: $white;
$accent: $magenta;
