$base: #f2f4f8; 
$surface0: #dde1e6; 
$surface1: #f2f4f8; 
$surface2: #ffffff; 
$white0: #525252; 
$white1: #393939; 
$white2: #262626; 
$teal: #08bdba;
$sapphire: #3ddbd9; 
$sky: #78a9ff; 
$maroon: #ee5396; 
$blue: #0f62fe; 
$red: #ff7eb6; 
$green: #42be65; 
$lavender: #be95ff; 
$light_blue: #82cfff;
$accent: $red;
