@import './colors.scss';
@import './bar/bar.scss';
@import './control_panel/control_panel.scss';
@import './dashboard/dashboard.scss';
@import './dock/dock.scss';
@import './desktop/desktop.scss';

* {
    all: unset;
    color: $white0;
    font-size: 15px;
    font-family: "Iosevka Nerd Font"
}

tooltip {
    background-color: $surface0;
    color: $white0;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: $surface2;
}

scale trough {
	all: unset;
	background-color: $surface2;
	border-radius: 24px;
	min-height: 80px;
	min-width: 15px;
	margin : 5px;
}

button {
    transition-duration: 0.5s;
    border-radius: 5px;
}
button:hover {
    background-color: $surface2;
}


scale trough highlight {
    background-color: $white0;
    border-radius: 24px;
}


calendar {
    all: unset;
    background-color: $surface0;
    font-size: 20;
    color: $white0;
}

calendar:selected {
    color: $red;
}

calendar.header {
    color: $red;
    font-weight: bold;
}

calendar:indeterminate {
    color: $surface2;
}

