@import './colors';
$main: $lavender;

* {
    all: unset;
    color: $main;
    font-size: 15px;
    font-family: "Iosevka Nerd Font"
}

.bar {
    background-color: $crust;
    padding: 5px;
}

tooltip {
    background-color: $base;
    color: $green;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: $mantle;
}

scale trough {
	all: unset;
	background-color: $surface0;
	border-radius: 24px;
	min-height: 80px;
	min-width: 15px;
	margin : 5px;
}

.icon {
    font-size: 20px;
    margin: 2px 0px;
}

scale trough highlight {
    background-color: $main;
    border-radius: 24px;
}

.workspaces {
    padding: 5px;
}

.workspaces label {
    font-size: 18;
    padding-right: 5px;
}

.widget {
    padding: 5px 5px;
    border-radius: 5px;
    background-color: $base;
    margin: 5px 2px;
    color: $main;
}

.clock label {
    font-size: 20px;
}

.charging trough highlight {
    background-color: $green;
}

.dying trough highlight {
    background-color: $red;
}

.mpd label {
    color: $red;
}

.playerctl label {
    color: $teal;
}

.mpd_controls label {
    font-size: 30px;
    padding: 10px;
}

.seektime trough {
    min-height: 15px; 
    min-width: 180px;
    margin-left: 15px;
}

.seektime trough highlight {
    background-color: $sapphire;
}

.cal_window {
    background-color: $crust;
    padding: 10px;
    border-radius: 5px;
}

calendar {
    all: unset;
    background-color: $base;
    font-size: 20;
    color: $text;
}

calendar:selected {
    color: $red;
}

calendar.header {
    color: $red;
    font-weight: bold;
}

calendar:indeterminate {
    color: $subtext0;
}

// just color stuff probably 
.clock label {
    color: $peach
}

.sound label {
    color: $red;
}
.volslide trough highlight {
    background-color: $red;
}

.bright label {
    color: $yellow;
}
.brislide trough highlight {
    background-color: $yellow;
}
