
.notifbox {
  background-color: $surface1;
  border-radius: calc($round - $margin - $padding);
  padding: $padding;
  margin: $margin;
}

.sideborder {
  border-right-style: solid;
  border-color: $accent;
}

.notiftitle {
  font-size: 18px; 
  color: $white0;
}

.notifbody {
  font-size: 15px;
  color: $white0;
}

.notifclose {
  font-family: "Symbols Nerd Font";
  font-size: 25px;
  min-width: 1em;
  min-height: 1em;
  color: $red;
}

.notiflabel {
  font-size: 18px;
  margin-bottom: 5px;
}

.notifactions {
  font-size: 15px;
  margin: $margin;
  color: $white0;
}

.picons {
  font-size: 20px;
  margin: $margin;
}

.notiimage {
  margin: $margin; 
  border-radius: $round;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
