
.controlpanelwindow {
    padding: 5px; 
}

.userinfo label {
    font-size: 18px;
    color: $white0;
}

.weatherinfo {
    background-color: $surface1;
    padding: 5px; 
    border-radius: 5px;
    margin: 5px;
}

.weatherinfo label {
    font-size: 18px; 
    font-family: "Iosevka Nerd Font Mono";
    color: $white0;
}

.weatherinfosmall {
    @extend .weatherinfo;
    label {
        font-size: 15px;
    }
}

.titlesel {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    color: $base;
    background-color: $red;
    border-radius: 5px;
}

.title {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    color: $white0;
    background-color: $surface1;
    border-radius: 5px;
}

.tricontrol label {
    @extend .title;
    font-size: 22px;
    font-family: "Symbols Nerd font";
    padding: 5px;
}
.timer {
    font-size: 40px;
}

.timer_butt button {
    background-color: $red; 
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.timer_butt label {
    color: $base;
    font-size: 20px;
}

.bigslide trough {
    border-radius: 5px; 
    margin: 5px;
    min-width: 60px;
    background-color: $surface1;
    slider {
        all: unset;
        min-width: 20px;
        min-height: 20px;
    }
}

.bigslide trough highlight{
    background-color: $surface2;
    border-radius: 5px;
}

.slideicon {
    min-width: 1em;
    min-height: 1em;
    font-family: "Symbols Nerd Font";
    font-size: 30px;
    margin-bottom: 15px;
}

.unbarwidget {
    padding: 5px;
    border-radius: 5px;
    background-color: $surface0;
    margin: 5px;
    color: $white0;
}

.quoteauthor {
    color: $white0;
    font-size: 14px;
    margin: 5px;
}

.quote {
    // color: $light_blue;
    font-size: 18px;
    margin: 5px;
}

.coolmpd label {
    color: $white0; 
}

.mpdcover {
    background-color: $surface0;
    margin: 5px; 
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}

.circiconcontain {
    border-radius: 70px;
    background-color: $surface0;
}

.circiconcontain label {
    font-family: "Symbols Nerd Font";
    font-size: 30px;
    min-width: 1em;
    min-height: 1em;
    border-radius: 70px;
    color: $white0;
}

.circsys {
    color: $red;
    background-color: $surface1;
}

.revcal {
    font-size: 13px;
}

.wmctrlslide {
    trough {
        min-width: 160px;
        min-height: 10px;
        slider {
            background-color: $white2;
            min-height: 15px;
            min-width: 15px;
            margin: -10px;
            border-radius: 25px;
        }
    }
}

.fadeoutbox {
    background-image: linear-gradient(180deg, transparent, $surface0);
    border-radius: 5px;
}
