
.bar {
    background-color: $base;
    padding: 5px;
}

.widget {
    padding: 5px; 
    margin: 5px; 
    border-radius: 5px;
    background-color: $surface0;
    color: $white0;
}

.icon {
    font-size: 20px;
    min-width: 1em; 
    min-height: 1em;
    font-family: "Symbols Nerd Font";
    padding: 0px 2px;
}

.workspaces {
    padding: 5px; 
}

.workspacething, .workspacethingactive {
    transition: 500ms;
    border-radius: 5;
    margin: 6px;
}

.workspacething {
    background-color: $surface2;
}

.workspacethingactive {
    background-color: $red;
}

.clock label {
    font-size: 20px;
}

.bat_scale {
    trough {
        min-height: 20px;
        min-width: 50px;
        border-radius: 5px;
        slider {
            all: unset;
        }
        highlight {
            border-radius: 5px; 
            background-color: $red;
        }
    }
}

.charging trough highlight {
    background-color: $green;
}

.dying trough highlight {
   background-color: $maroon;
}

.lightning {
    color: $surface0
}

// for the music popup
.mpd_controls label {
    font-size: 30px;
    padding: 10px;
}

.seektime {
    trough {
        min-height: 10px; 
        min-width: 180px;

        slider {
            background-color: $white2;
            border-radius: 25px;
            min-height: 20px;
            min-width: 20px;
            margin: -10px;
        }

        highlight {
            background-color: $red;
        }
    }
}

.sidempdctl {
    margin: 5px; 
    label {
        font-size: 30px;
        padding-right: 5px;
        min-height: 1em;
        min-width: 1em;
    }
}

.mpdvolumeseek {
    @extend .seektime;
    trough {
        min-height: 100px; 
        min-width: 10px;
        highlight {
            background-color: $white0;
        }
    }
}

.mtitle {
    color: $white0;
    font-size: 20px; 
    margin-top: 30px;
}

.sliderctl {
    @extend .seektime;
    trough {
        min-height: 10px;
        min-width: 200px;
    }
}

.cavascale {
    all: unset; 
    trough {
        all: unset; 
        border-radius: 24px;
        min-height: 18px;
        min-width: 5px;
        margin: 1px;
        highlight {
            background-color: $white0;
            border-radius: 24px;
        }
        slider {
            all:unset;
        }
    }
}

.icontitle {
    @extend .title; 
    min-width: 1em;
    min-height: 1em;
    font-family: "Symbols Nerd font";
}

.icontitlesel {
    @extend .titlesel; 
    min-width: 1em;
    min-height: 1em;
    font-family: "Symbols Nerd font";
}

.launchicon {
    @extend .icon;
    color: $red;
}
